# Import and Tidy

## Imports

In [2]:
import pandas as pd

## 1. Dataset

The dataset that I am using for this presentaiton was located in Kaggle and has roughly 300,000 entries on Pokemon found around the world for the past eight months.

In [3]:
raw_data = pd.read_csv('/data/glirios/300k.csv')

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
raw_data.head()

,pokemonId,latitude,longitude,appearedLocalTime,_id,cellId_90m,cellId_180m,cellId_370m,cellId_730m,cellId_1460m,...,cooc_143,cooc_144,cooc_145,cooc_146,cooc_147,cooc_148,cooc_149,cooc_150,cooc_151,class
0,16,20.525745,-97.460829,2016-09-08T03:57:45,NTgxMDkzOTk4MTM5MjUwMjIzNw==,9645139108510564000,9645139108711890000,9645139108443455000,9645139109517197000,9645139113812165000,...,False,False,False,False,False,False,False,False,False,16
1,133,20.523695,-97.461167,2016-09-08T03:57:37,OTQ1NDgzODc1MjM3NDEzMTI2MQ==,9645139109852742000,9645139109785633000,9645139110590940000,9645139109517197000,9645139113812165000,...,False,False,False,False,False,False,False,False,False,133
2,16,38.903590,-77.199780,2016-09-08T03:57:25,NTQ0OTQ0NDA1Nzg2ODg3OTg2OQ==,9923201472785285000,9923201472986612000,9923201473791918000,9923201477013144000,9923201481308110000,...,False,False,False,False,False,False,False,False,False,16
3,13,47.665903,-122.312561,2016-09-08T03:56:22,NTU2MTU1NDM4NzA2MDk1MDcxNw==,6093392705025474600,6093392705092583400,6093392705897889800,6093392702676664300,6093392715561566200,...,False,False,False,False,False,False,False,False,False,13
4,133,47.666454,-122.311628,2016-09-08T03:56:08,MTY2ODg4MTAzMTczMDE0MTUwNTM=,6093392707709829100,6093392707776938000,6093392708045373400,6093392711266598900,6093392715561566200,...,False,False,False,False,False,False,False,False,False,133

In [5]:
row, col = raw_data.shape
assert row > 200000
assert col == 208

The reason for the volume of columns is due to the fact that there are 151 cloumns for booleans to check if the Pokemon spawned with another one of the 151 pokemon. When we remove those 151 colunmns, we are left with 47 columns. After carefull analysis of the different columns that remain, I have found that a lot of the coulmns provide information that is already repeated or has very little use to the type of analysis that I was going to be working on.

In [6]:
tidy = raw_data[['pokemonId', 'latitude', 'longitude', 'appearedTimeOfDay', 'appearedDayOfWeek', 'appearedLocalTime', 'appearedHour',
'appearedDay', 'city', 'temperature', 'continent', 'population_density', 'class']]

In [7]:
tidy.shape

(296021, 13)

In [8]:
tidy.head()

,pokemonId,latitude,longitude,appearedTimeOfDay,appearedDayOfWeek,appearedLocalTime,appearedHour,appearedDay,city,temperature,continent,population_density,class
0,16,20.525745,-97.460829,night,dummy_day,2016-09-08T03:57:45,5,8,Mexico_City,25.5,America,2431.2341,16
1,133,20.523695,-97.461167,night,dummy_day,2016-09-08T03:57:37,5,8,Mexico_City,25.5,America,2431.2341,133
2,16,38.903590,-77.199780,night,dummy_day,2016-09-08T03:57:25,5,8,New_York,24.2,America,761.8856,16
3,13,47.665903,-122.312561,night,dummy_day,2016-09-08T03:56:22,5,8,Los_Angeles,15.6,America,4842.1626,13
4,133,47.666454,-122.311628,night,dummy_day,2016-09-08T03:56:08,5,8,Los_Angeles,15.6,America,4842.1626,133

In [9]:
tidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296021 entries, 0 to 296020
Data columns (total 13 columns):
pokemonId             296021 non-null int64
latitude              296021 non-null float64
longitude             296021 non-null float64
appearedTimeOfDay     296021 non-null object
appearedDayOfWeek     296021 non-null object
appearedLocalTime     296021 non-null object
appearedHour          296021 non-null int64
appearedDay           296021 non-null int64
city                  296021 non-null object
temperature           296021 non-null float64
continent             296021 non-null object
population_density    296021 non-null float64
class                 296021 non-null int64
dtypes: float64(4), int64(4), object(5)
memory usage: 29.4+ MB

In [10]:
#refined = tidy[tidy['continent'] == 'America']
#refined = refined.drop('continent', axis = 1)
refined = tidy
refined['appearedDayOfWeek'] = tidy['appearedDayOfWeek'].replace('dummy_day', 'Monday')

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
refined.shape

(296021, 13)

In [12]:
refined.head()

,pokemonId,latitude,longitude,appearedTimeOfDay,appearedDayOfWeek,appearedLocalTime,appearedHour,appearedDay,city,temperature,continent,population_density,class
0,16,20.525745,-97.460829,night,Monday,2016-09-08T03:57:45,5,8,Mexico_City,25.5,America,2431.2341,16
1,133,20.523695,-97.461167,night,Monday,2016-09-08T03:57:37,5,8,Mexico_City,25.5,America,2431.2341,133
2,16,38.903590,-77.199780,night,Monday,2016-09-08T03:57:25,5,8,New_York,24.2,America,761.8856,16
3,13,47.665903,-122.312561,night,Monday,2016-09-08T03:56:22,5,8,Los_Angeles,15.6,America,4842.1626,13
4,133,47.666454,-122.311628,night,Monday,2016-09-08T03:56:08,5,8,Los_Angeles,15.6,America,4842.1626,133

In [13]:
refined.to_csv('/data/glirios/Pokemon.csv')

In [14]:
pokemon_locations = tidy[['city','latitude', 'longitude', 'appearedLocalTime']]

In [15]:
pokemon_locations.head()

          city   latitude   longitude    appearedLocalTime
0  Mexico_City  20.525745  -97.460829  2016-09-08T03:57:45
1  Mexico_City  20.523695  -97.461167  2016-09-08T03:57:37
2     New_York  38.903590  -77.199780  2016-09-08T03:57:25
3  Los_Angeles  47.665903 -122.312561  2016-09-08T03:56:22
4  Los_Angeles  47.666454 -122.311628  2016-09-08T03:56:08

In [16]:
pokemon_locations.to_csv('/data/glirios/poke_locs.csv')